Options -Indexes -MultiViews

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  RewriteRule ^index\.html$ - [L]
  RewriteRule ^gallery/?$ /photos [R=302,L,NC]
  RewriteRule ^programs/?$ /photos [R=302,L,NC]
  RewriteRule ^news/?$ /events [R=302,L,NC]

  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  RewriteRule ^ index.html [L]
</IfModule>

ErrorDocument 404 /index.html
